input {
    padding: 5px;
    width: 272px;
    border: 1px solid #1c1817;
    background-color: #13100d;
    color: #a16a00 !important;
    text-shadow: 2px 2px 2px #000000;
    display: block;
    margin: 5px 0px;
    box-shadow: 0px 0px 4px #000000;
}

input:focus {
    background-color: #171310;
}

input[type="submit"], input[type="button"] {
    padding: 5px;
    width: auto;
    border: 1px solid #1c1817;
    background-color: #13100d;
    color: #a16a00 !important;
    text-shadow: 2px 2px 2px #000000;
    display: block;
    cursor: pointer;
    box-shadow: 0px 0px 4px #000000;
}

input[type="submit"]:hover, input[type="button"]:hover {
    background-color: #171310;
}

p {
    text-indent: 20px;
    margin: 10px 0px 20px 0px;
    color: #FFFFFF !important;
}

form {
    display: inline-block;
    margin-left: 20px;
}

#login-box form {
    margin-left: 0px;
}

label {
    margin-left: -10px;
    color: #605454 !important;
}

#userpanel-holder {
    font-family: Verdana,sans-serif;
    font-variant: small-caps;
}

#userpanel-holder h2 {
    color: #605454;
    font-size: 12pt;
    margin-left: 10px;
    text-shadow: 1px 1px 2px #000000;
}

#userpanel-holder ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px 0px 20px 20px;
}

#userpanel-holder ul li {
    font-size: 10pt;
    background-image: url('../images/arrow.png');
    background-repeat: no-repeat;
    background-position: 0px 5px;
    padding-left: 14px;
}

#userpanel-holder ul li a {
    text-shadow: 1px 1px 2px #000000;
}

#userpanel-holder ul li a:hover {
    color: #9B410E;
    text-decoration: underline;
}

#userpanel-holder hr {
    border: 0px;
    height: 1px;
}

#userpanel-holder #submit-holder {
    text-align: center;
}

#userpanel-holder input {
    background-image: url('../images/logout.png') !important;
    border: none;
    width: 58px;
    height: 61px;
}

.empy-character {
    padding: 10px;
    width: 663px;
    border: 1px solid #1c1817;
    background-color: #13100d;
    color: #a16a00 !important;
    text-shadow: 2px 2px 2px #000000;
}

.empy-character > div {
    text-align: center;
}

.character {
    margin-bottom: 10px;
    width: 663px;
    height: 100px;
    border: 1px solid #1c1817;
    background-color: #13100d;
}

.character #class-image {
    float: left;
    width: 90px;
    height: 94px;
    margin: 2px 5px 2px 5px;
}

.character #class-image img {
    width: 93px;
    height: 93px;
}

.character #character-info {
    width: 560px;
    height: 100px;
    float: left;
}

table {
    width: 100%;
}

table tr {
    background-color: #000000;
}

table tr:nth-child(even) {
    background-color: #1a1511;
}

table tr:nth-child(even) td {
    color: #aa8c74 !important;
    text-shadow: 2px 2px 3px #000000;
}

table td {
    width: 33%;
    height: 30px;
    color: #a16a00 !important;
    font-size: 9pt !important;
    padding: 0px 5px;
    text-shadow: 2px 1px 3px rgba(170, 140, 116, 0.5);
}

table td h2 {
    font-weight: bold;
    display: inline-block;
}

.char-status {
    font-size: 8pt !important;
    text-transform: lowercase;
}

.form-holder {
    float: left;
    width: 100px;
    text-align: center;
    margin: 2px 0px;
}

.table-holder {
    width: 560px;
    float: left;
}

.user-option-box {
    width: 663px;
    border: 1px solid #1c1817;
    border-top: 0px;
    background-color: #13100d;
    color: #a16a00 !important;
    text-shadow: 2px 2px 2px #000000;
    margin: -20px 0px 20px 0px;
}

.user-option-box input {
    padding: 0px 10px;
    margin: 2px 5px 0px 5px;
    font-size: 9pt !important;
    height: 26px;
}

.user-option-box form {
    margin-left: 0px;
}

.user-option-box table {
    width: auto !important;
}

.user-option-box table td {
    background-color: #1a1511 !important;
    text-shadow: 2px 2px 2px #000000;
    color: #aa8c74 !important;
    width: 184px;
}

.user-option-box table td img {
    margin-bottom: -3px;
}

.disabled-button {
    margin: 0px auto;
    padding: 4px 5px 5px 5px;
    width: 62px;
    height: 26px;
    font-size: 9pt !important;
    border: 1px solid #1c1817;
    background-color: #13100d;
    color: #444444 !important;
    text-shadow: 0px 0px 0px #000000;
    display: block;
    cursor: pointer;
    box-shadow: 0px 0px 4px #000000;
}

.points-added {
    margin-top: -20px;
    margin-bottom: 20px;
    border-top: 0px;
    display: none;
}

.points-added .left-column input[type="text"] {
    width: 160px;
}

.left-column {
    margin-right: 40px;
    float: left;
}

.left-column span span {
    color: #aa8c74 !important;
}

.left-column span {
    color: #605454 !important;
    font-size: 8pt !important;
}