#userpanel-holder {
    font-family: Verdana,sans-serif;
    font-variant: small-caps;
}

#userpanel-holder h2 {
    color: #605454;
    font-size: 12pt;
    margin-left: 10px;
}

#userpanel-holder ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px 0px 20px 20px;
}

#userpanel-holder ul li {
    font-size: 10pt;
    background-image: url('../images/arrow.png');
    background-repeat: no-repeat;
    background-position: 0px 5px;
    padding-left: 14px;
}

#userpanel-holder ul li a:hover {
    color: #9B410E;
    text-decoration: underline;
}

#userpanel-holder hr {
    border: 0px;
    height: 1px;
}

#userpanel-holder #submit-holder {
    text-align: center;
}

#userpanel-holder input {
    background-image: url('../images/logout.png') !important;
    border: none;
    width: 58px;
    height: 61px;
}

.character {
    margin-bottom: 10px;
    width: 663px;
    height: 100px;
    border: 1px solid #1c1817;
    background-color: #13100d;
}

.character #class-image {
    background-color: #1a1511;
    float: left;
    width: 90px;
    height: 94px;
    margin: 2px 5px 2px 5px;
}

.character #class-image img {
    width: 93px;
    height: 93px;
}

.character #character-info {
    width: 560px;
    height: 100px;
    float: left;
}

.character #character-info table {
    width: 100%;
    //opacity: 0.5;
}

.character #character-info table tr {
    background-color: #000000;
}

.character #character-info table tr:nth-child(2) {
    background-color: #1a1511;
}

.character #character-info table tr:nth-child(2) td {
    color: #aa8c74;
}

.character #character-info table td {
    width: 33%;
    height: 30px;
    color: #a16a00;
    font-size: 9pt;
    padding-left: 5px;
}

.character #character-info table td h2 {
    font-weight: bold;
    display: inline-block;
}

.char-status {
    font-size: 8pt !important;
    text-transform: lowercase;
}