#userpanel-holder {
    font-family: Verdana,sans-serif;
    font-variant: small-caps;
}

#userpanel-holder h2 {
    color: #605454;
    font-size: 12pt;
    margin-left: 10px;
}

#userpanel-holder ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px 0px 20px 20px;
}

#userpanel-holder ul li {
    font-size: 10pt;
    background-image: url('../images/arrow.png');
    background-repeat: no-repeat;
    background-position: 0px 5px;
    padding-left: 14px;
}

#userpanel-holder ul li a:hover {
    color: #9B410E;
    text-decoration: underline;
}

#userpanel-holder hr {
    border: 0px;
    height: 1px;
}

#userpanel-holder #submit-holder {
    text-align: center;
}

#userpanel-holder input {
    background-image: url('../images/logout.png') !important;
    border: none;
    width: 58px;
    height: 61px;
}