@font-face {
    font-family: 'LeagueGothic-Regular';
    src: url('../fonts/LeagueGothic-Regular.otf') format('opentype');
}

* {
    margin: 0px;
    padding: 0px;
    color: #FFFFFF;
    box-sizing: border-box;
    text-decoration: none;
}

.gothic-regular {
    font-family: 'LeagueGothic-Regular', Verdana, sans-serif !important;
    letter-spacing: 2px !important;
}

.small-caps {
    font-family: Verdana, Arial, sans-serif !important;
    font-variant: small-caps !important;
}

.default {
    font-size: 11pt !important;
}

.tiny {
    font-size: 9pt !important;
}

.clearfix:after, .clearfix:before {
    content: " ";
    display: block;
}

.clearfix:after {
    clear: both;
}

.clearfix { 
    *zoom: 1;
}

.offline {
    color: #d40000 !important;
}

.online {
    color: #006f00 !important;
}

h1 {
    text-shadow: 4px 3px 2px #000000;
    font-size: 14pt;
    color: #605454;
}

body {
    background-image: url('../images/body-background.png');
}

#wrapper {
    background-image: url('../images/background.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 330px;
    margin: 0px auto;
    min-height: 700px;
    min-width: 1024px;
}

header {
    width: 975px;
    margin: 0px auto;
    position: relative;
}

header > nav {
    background-image: url('../images/header-nav.png');
    height: 80px;
    width: 975px;
    margin: 0px auto;
    padding: 12px 0px 0px 20px;
}

header > nav > ul li {
    background-image: url('../images/nav-link.png');
    text-shadow: 0px 0px 10px #ff4000;
    display: inline-block;
    width: 117px;
    height: 54px;
    padding: 17px 0px 0px 2px;
}

header > nav > ul li a {
    width: 108px;
    height: 37px;
    display: block;
    padding-top: 10px;
    text-align: center;
}

header > nav > ul li a:hover {
    color: #ffddcc;
}

header #server-info {
    position: absolute;
    width: 113px;
    left: 645px;
    height: 37px;
    top: 20px;
    text-align: center;
    color: #a16a00;
    padding-top: 5px;
    line-height: 14px;
}

header #server-info > span {
    font-size: 8pt;
}

aside {
    width: 246px;
}

aside #user-header {
    background-image: url('../images/login-header.png');
    height: 72px;
}

aside #user {
    background-image: url('../images/login-bg.png');
    padding: 0px 28px 0px 28px;
    min-height: 100px;
}

aside #user #login-box form > div {
    float: left;
}

aside #user #login-box form #inputs {
    width: 125px;
}

aside #user #login-box form #submit {
    margin: 2px 0px 0px 5px;
}

aside #user input[type="text"], aside #user input[type="password"] {
    background-image: url('../images/input.png') !important;
    margin-bottom: 5px;
    padding-left: 10px;
    color: #aa8c74;
    border: none;
    width: 125px;
    height: 30px;
}

aside #user #login {
    background-image: url('../images/login.png') !important;
    border: none;
    width: 58px;
    height: 61px;
}

aside #main-menu {
    margin-top: -5px;
}

aside #main-menu > a {
    background-image: url('../images/link-normal.png');
    padding: 5px 0px 0px 36px;
    display: block;
    width: 100%;
    height: 30px;
    width: 246px;
}

aside #main-menu > a:hover {
    background-image: url('../images/link-over.png');
    color: #ffddcc;
}

aside #main-menu-footer {
    margin-top: -10px;
}

aside #sub-menu {
    background-color: #1a1511;
    margin: -5px 0px -5px 0px;
    padding: 0px 10px 5px 10px;
    min-height: 100px;
    width: 245px;
}

#content-holder {
    width: 975px;
    margin: 0px auto;
}

#content-holder > aside, #content-holder > section  {
    float: left;
}

#content-holder > section {
    font-family: Verdana, Arial, sans-serif;
    margin: 4px 0px 0px 4px;
}

section #content-header {
    background-image: url('../images/content-header.png');
    height: 111px;
    width: 725px;
    padding: 47px 0px 0px 60px;
}

section #content {
    background-color: #1a1511;
    padding: 0px 30px 10px 30px;
    max-width: 725px;
}

section #content * {
    font-family: Verdana, sans-serif;
    font-variant: small-caps;
    font-size: 11pt;
    color: #aa8c74;
}

section #content #errors > div {
    background-color: #d40000;
    border: 1px solid #700000;
    padding: 5px 10px 5px 10px;
    color: #FFFFFF;
}

section #content-footer {
    margin-top: -3px;
}

input::-webkit-input-placeholder {
    font-variant: normal !important;
    font-style: italic;
    font-size: 10pt;
    color: #a9a9a9;
    opacity: 0.2;
}

input:-moz-placeholder {
    font-variant: normal !important;
    font-style: italic;
    font-size: 10pt;
    color: #a9a9a9;
    opacity: 0.2;
}

input::-moz-placeholder {
    font-variant: normal !important;
    font-style: italic;
    font-size: 10pt;
    color: #a9a9a9;
    opacity: 0.2;
}

input:-ms-input-placeholder {
    font-variant: normal !important;
    font-style: italic;
    font-size: 10pt;
    color: #a9a9a9;
    opacity: 1;
}

@media screen and (max-width: 999px){
    .gothic-regular {
        font-size: 24pt !important;
    }

    .default {
        font-size: 20pt !important;
    }

    .tiny {
        font-size: 20pt !important;
    }

    h1 {
        font-size: 24pt;
    }

    header #server-info > span {
        font-size: 20pt;
    }

    section #content * {
        font-size: 20pt;
    }
}